@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:rgb(87, 120, 152) ;
}


section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 h1{
    font-size: 1em;
    padding: 0.3em;
    text-align:center;
 }

input{
    width: 80vw;
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    border-radius: 0.5em;
    font-weight: 600;
}

#lista_huerfanas{
    font-size: 0.9em;
    margin-top: 20px;
    list-style: none;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
}
li{
    margin: 5px 0;
}

.filter{
    display: none;
}

#top{
    position: absolute;
    top:0.5vh;
}

#div_huerfanas{
    position: absolute;
    top:15vh;
}